.body {
    background-image: url("../images/wall-gerente.jpg");
    background-size:cover;
 	 width: 100%;
 	 height: 100%;
	position:absolute;
	z-index:-1;

}

.formulario{
	
	background-color: white;
	opacity: 0.82;
	border-radius: 1em 1em 1em 1em;
	

}
